<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Gerenciamento de Serviços <i class="fa fa-pencil-square-o" aria-hidden="true"></i></h1>
      <hr><br>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-dataGrid [value]="servicos" [paginator]="true" [rows]="6" emptyMessage="Não existem serviços pendentes.">
        <p-header class="mainHeader">
          Serviços em Andamento
        </p-header>
        <ng-template let-serv pTemplate="item">
          <div style="padding:10px" class="ui-g-12 ui-md-4">
            <p-panel styleClass="margin:15px, card-servico">
              <p-header>
                <div class="ui-helper-clearfix">
                  <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
                      Ordem de Serviço: {{serv.ordemServico.codigo}}
                  </span>
                </div>
              </p-header>

              <div class="ui-grid-row" style="margin-bottom: 15px">
                <div class="ui-grid-col-3">
                  <label>Cliente:</label>
                </div>
                <div class="ui-grid-col-9">
                  <span> {{preparaNomeParaExibicao(serv.ordemServico.cliente.nome)}}</span>
                </div>
              </div>

              <hr class="ui-widget-content" style="border-top:0">
              <div class="ui-grid-row">
                <div class="ui-grid-col-5"><label>Número de Série:</label></div>
                <div class="ui-grid-col-7">
                  <span>{{serv.ordemServico.equipamento.numeroSerie}}</span>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-5"><label>Modelo:</label></div>
                <div class="ui-grid-col-7">
                  <span>{{serv.ordemServico.equipamento.modelo}}</span>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-5"><label>Fabricante:</label></div>
                <div class="ui-grid-col-7">
                  <span>{{serv.ordemServico.equipamento.fabricante}}</span>
                </div>
              </div>



              <p-footer>
                <a pButton type="button" icon="fa-search" label="Visualizar" style="margin: 5px"
                  [routerLink]="['/servicos-cadastro', serv.id]"></a>

                <a pButton type="button" label="Imprimir"
                  [routerLink]="['/ordem-servico-impressao', serv.ordemServico.codigo]"
                  class="ui-button-rounded ui-button-success" icon="fa fa-print"></a>
              </p-footer>

            </p-panel>
          </div>
        </ng-template>
      </p-dataGrid>
    </div>
  </div>
</div>
