<nav class="navbar doNotPrint">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-8">
        <a routerLink="/ordem-servico-cadastro"><img class="logo" src="../../assets/images/logo.png"
            style="cursor: pointer"></a>
      </div>
      <div class="ui-g-3 usuario-logado">
        <span>Usuário: {{auth.jwtPayload?.user_name}}</span>
      </div>
      <div class="ui-g-1">
        <a (click)="display = !display"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</nav>

<p-sidebar [(visible)]="display" position="right">
  <nav class="navigation">
    <ul class="mainmenu">
      <li class="navbar-usuario"><a href="javascript:;"> {{auth.jwtPayload?.user_name}}</a></li>

      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a routerLink="/clientes">Clientes</a>
        <ul class="submenu">
          <li class="menuitem" routerLinkActive="ativo"><a routerLink="/clientes/novo">Novo Cliente</a></li>
        </ul>
      </li>

      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a routerLink="/mecanicos">Mecanicos</a>
      </li>
      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a
          routerLink="/equipamentos">Equipamentos</a>
        <ul class="submenu">
          <li class="menuitem" routerLinkActive="ativo"><a routerLink="/equipamentos/novo">Novo Equipamento</a></li>
        </ul>
      </li>

      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a
          routerLink="/ordem-servico-cadastro">Nova Ordem de Servico</a></li>
      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a routerLink="/servicos">Serviços em Andamento</a>
      </li>
      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a
          routerLink="/servico-historico">Historico de Serviços</a></li>
      <li class="menuitem" routerLinkActive="ativo" (click)="display=!display"><a
          routerLink="/servicos-concluidos">Serviços Concluidos</a></li>
      <li class="menuitem" routerLinkActive="ativo"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</p-sidebar>
