<div class="container">
  <app-cabecalho-impressao></app-cabecalho-impressao>

  <div class="ui-g">
    <div class="ui-g-12">
      <h3>COMPROVANTE DE ENTREGA DE EQUIPAMENTO</h3>
      <hr><br>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <label>Código da ordem de serviço: </label>{{servico.ordemServico.codigo}}
    </div>

    <div class="ui-g-12">
      <label>Cliente: </label>{{servico.ordemServico.cliente.nome}}
    </div>

    <div class="ui-g-12">
      <label>Telefone: </label>{{servico.ordemServico.cliente.telefone}}
    </div>

    <div class="ui-g-12">
      <hr class="ui-widget-content" style="border-top:0">
    </div>

    <div class="ui-g-12">
      <label>Dados do Equipamento</label>
    </div>

    <div class="ui-g-12">
      <label>Número de Série: </label><span>{{servico.ordemServico.equipamento.numeroSerie}}</span>
    </div>

    <div class="ui-g-12">
      <label>Modelo: </label><span>{{servico.ordemServico.equipamento.modelo}}</span>
    </div>

    <div class="ui-g-12">
      <label>Fabricante: </label><span>{{servico.ordemServico.equipamento.fabricante}}</span>
    </div>

    <div class="ui-g-12">
      <hr class="ui-widget-content" style="border-top:0">
    </div>

    <div class="ui-g-12">
      <label>Descrição do serviço</label>
    </div>

    <div class="ui-g-12">
      <span>{{servico.descricao}}</span>
    </div>

    <div class="ui-g-12">
      <label>Valor Total: </label><span>R$ {{ servico.valor | number:'1.2-2' }}</span>

    </div>

    <div class="ui-g-12">
      <label>Data de entrega:</label>
      <p-calendar name="dataEntrega" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" disabled
        [(ngModel)]="servico.dataEntrega" ngModel #dataEntrega="ngModel"></p-calendar>
    </div>

    <div class="ui-g-12" *ngIf="servico.dataGarantia">
      <label>Data de garantia:</label>
      <p-calendar name="dataGarantia" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" disabled
        [(ngModel)]="servico.dataGarantia" ngModel #dataGarantia="ngModel"></p-calendar>
    </div>

    <div class="ui-g-12">
      <app-assinaturas></app-assinaturas>
    </div>

    <div class="ui-g-12 doNotPrint">
      <hr><br>
      <button pButton type="button" label="Imprimir" (click)="onPrint()" class="ui-button-rounded ui-button-success"
        icon="fa fa-print"></button>
      <a routerLink="/servicos">Ir para Listagem de Serviços</a>
    </div>

    <div class="ui-g-12">
    </div>

  </div>
</div>
